<div class="container">
  <h3 class="department-title">Current department: <span class="department-name">{{this.profile?.department}}</span>
  </h3>
  <div class="row d-flex">
    <div class="col-4 ">
      <h2>To do</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList,noNeedList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-card
          *ngFor="let item of todo"
          [item]="item"
          [assignedTo]="item.assignedTo"
          [assignedToName]="item.assignedToName"
          [cardAuthor]="item.cardAuthor"
          [cardAuthorName]="item.cardAuthorName"
          (changeAuthor)="onChangeAuthor($event)">
        </app-card>
      </div>
      <button class="btn btn-primary" (click)="addTask()"> Add task</button>
    </div>

    <div class="col-4 ">
      <h2>Done</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList,noNeedList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-card
          *ngFor="let item of done"
          [item]="item"
          (changeAuthor)="onChangeAuthor($event)"
          [assignedTo]="item.assignedTo"
          [assignedToName]="item.assignedToName"
          [cardAuthor]="item.cardAuthor"
          [cardAuthorName]="item.cardAuthorName">
        </app-card>

      </div>
    </div>

    <div class="col-4 ">
      <h2>No need</h2>

      <div
        cdkDropList
        #noNeedList="cdkDropList"
        [cdkDropListData]="noNeed"
        [cdkDropListConnectedTo]="[todoList,doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <app-card
          *ngFor="let item of noNeed"
          [item]="item"
          (changeAuthor)="onChangeAuthor($event)"
          [assignedTo]="item.assignedTo"
          [assignedToName]="item.assignedToName"
          [cardAuthor]="item.cardAuthor"
          [cardAuthorName]="item.cardAuthorName">
        </app-card>

      </div>
    </div>
  </div>

</div>

<div>{{currentMessage | async | json}}</div>
