<div class="p-2">
  <div class="example-container p-2 border">
    <h2>To do</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box row " *ngFor="let item of todo" cdkDrag>
        <h3 class="col-12 pl-0">{{ item.title }} - {{ item.order }}</h3>

        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label  ">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="colFormLabelLg" [(ngModel)]="item.cardAuthor" (ngModelChange)="onChangeAuthor(item)">
          </div>
        </div>

        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label  ">Estimate</label>
          <div class="col-sm-8">
            <input type="number" class="form-control " id="colFormLabelLg"  [(ngModel)]="item.estimateValue" (ngModelChange)="onChangeAuthor(item)">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container p-2 border">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box row" *ngFor="let item of done" cdkDrag>
        <h3 class="col-12 pl-0">{{ item.title }} - {{ item.order }}</h3>

        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label  ">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control " id="colFormLabelLg" [(ngModel)]="item.cardAuthor" (ngModelChange)="onChangeAuthor(item)">
          </div>
        </div>

        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label  ">Estimate</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" id="colFormLabelLg"  [(ngModel)]="item.estimateValue" (ngModelChange)="onChangeAuthor(item)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
