<div class="container">
  <div class="message-window" #messageBoard>
    <div class="load-more" (click)="loadMore()">Load more...</div>
    <div class="message"
         *ngFor="let item of messageList$ | async ">
      <div class="message-title">
        {{item.value}}
      </div>
      <div class="message-content">
        {{item.name}}
      </div>
      <div class="message-id">
        {{item.id}}
      </div>
    </div>

  </div>
  <button class="btn btn-primary" (click)="addMessage()">Add Message</button>

</div>
